@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


a:hover{
    color:#8094A8;

}


a{
   
   text-decoration: none;
   color:#002952;
   font-family: Arial ,sans-serif;
	padding:10px;
	font-size: 16px;
}
 

header{

	background-color:#FAF0FF;

}

label{
	display: none;
	color:#002952;
   	font-family: Arial ,sans-serif;
	padding:10px;
	font-size: 16px;
	padding-top:10px;
	margin:auto;

}

nav {
	float:right;
   /*margin-left:850px;	*/
   margin-bottom:0px;
   text-decoration: none;
   padding:30px 4.5%;
/*   padding-left:0px;
   padding-top: 30px;*/
}

h1{ 

	font-size:30px;
	font-family:'Montserrat',serif;
	color: white;
	padding:160px;
	margin-left:40px;
}
 
h2{
   padding-top:0px;
   padding-left:15px;	
   font-family:'Montserrat',serif;
   font-size:25px;
   margin-left:0px;
   margin-bottom: 10px;


}



aside {

    float: right;
	font-size:14px;
	width:20%;
	/*border:1px solid #000;*/
	padding:15px;
	margin-left:0px;


}

ul{
	list-style: none;
}

li{
	padding:15px;
}

p{
   padding:0px;
   line-height:50px;
   margin: 0px;

}

figure{
	margin:10px auto;
/*	margin-top:10px;
	margin-left: 10px;*/
	background:#F0FAFF;
/*    height:270px;*/
    width:90%;
    padding:15px;
    padding-left:55px;
/*    margin-bottom:10px;*/
   height:300px;

 }
 
figure img{
width: 30%;
display: block;
float:left;


}

figcaption{
	width:65%;
    font-weight:1000px;
	font-family: Montserrat ,serif;
	font-size: 18px;
	padding-top:20px;
	margin-left:5%;
	line-height: 28.888px;
	margin-bottom:50px;
	float: left;
    padding-right:30px;
}


footer{
  
	background-color: #FAF0FF;
	margin-top:300px;

}


#logo{
	float: left;
	padding: 20px;
	padding-left:45px;
}

#menu{
	display: none;
}
 
#wrapper{
 	width:90%;
 	margin:auto;
 	background-color:#F0FAFF;
 	/*border:1px solid #000;*/
 	/*margin-bottom:0px;*/
 	padding:0px;
 }

#content{
	background-image: url("../image/biden.jpg");
	background-size:cover;
	float: left;
	/*border:1px solid #000;*/
	width:80%;
     margin: 0px;
      padding:0px; 
}
  
#main{
	height:350px;
	margin: 0;
	padding: 0px;
	width:200px;
}

.space{

	padding:5px;

}


#sociallinks{ 

     margin-left: 100px;
     padding: 40px;
     margin: 40px;
     float: left;
}

#map{ 

    padding-left:650px;
    padding-top:70px;
    line-height:30px;

}


.info{
	font-size:16px;
	color:#93CAE6;
}


.clearfix:after{

	visibility:hidden;
	display:block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0

}




@media screen and (max-width:1120px){
	aside{
		width:25%;
	}

	h1{
		padding:15%;
		margin:0;
	}

	#content{
		width:75%;
		height: 408px;
	}
}


@media screen and (max-width:940px){
	aside{
		width:100%;
		float:none;
	}

	h2{
		text-align: center;
	}

	li{
		display: inline-block;
	}

	#content{
		width:100%;
		float:none;
		height:auto;
	}


#map{

	float:none;
    padding-top:70px;
    line-height:30px;
    padding-left:100px;

}



}

@media screen and (max-width:540px){
	label{
		display: block;
		text-align: center;
	}

	nav{
		display: none;
		margin:15px 0;
		float: none;
		/*clear: both;*/
	}

	nav a{
		display: block;
		text-align: center;

	}
	#menu:checked + nav{
		display: block;
	}

	#logo{
		float:none;
		display: block;
		margin:auto;
	}
}


@media screen and (max-width:850px) {


figure{

		margin-left:20px;
	   display:block;
	   height:450px;
	
 }

footer{
    margin-top:450px;
	height:400px;
	margin-left:10px;
	width:500px;

}


#map{

	float:none;
    padding-top:80px;
    line-height:30px;
    padding-left:80px;

}


}

   

@media screen and (max-width:540px) {
 

figure img{

	float: none;
    margin-left:21px;

}

figcaption{

    display:block;
	float: none;
	text-align:left;
	line-height:23px;
	font-weight:60px;
    font-size:14px;
    padding-top:0px;

}


figure{

		margin-left:20px;
	   display:block;
	   height:450px;
	
 }


}


@media screen and (max-width:540px){

footer{
    margin-top:130px;
	height:400px;
	margin-left:10px;
	width:300px;

}


#sociallinks{

     display: block;
     padding:40px;
     margin-left:50px;
    float:none;

}

#map{

	float:none;
    padding-top:5px;
    line-height:30px;
    padding-left:100px;


}

}






